<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :reserveTime %><br>
    <%= f.text_field :reserveTime, :class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :teacherId %><br>
    <%= f.number_field :teacherId %>
  </div>

  <div id="sandbox-container">
    <div></div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
